@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #E5E5E5;
    --color-secundario: #0A3871;
    --color-terciario: #ffffff;
    --color-hover: #272727;

    --fuente: "Inter", sans-serif;
}
body{
    background-color: #0A3871;
    color: var(--color-secundario);
    height: 100%;
    box-sizing: border-box;
}
.header{
    padding: 2% 0% 0% 3%;
    /* Arriba - Abajo - Izquierda - Derecha */
}
.header .imagen-header{
    width: 3%;
    padding: 0%;
    cursor: pointer;
}
.imagen-header-modo{
    padding-left: 20px;
    width: 3%;
    cursor: pointer;
}
/* Section de la página */
.section{
    padding: 2% 0% 1% 1%;
}
.row {
    display: flex;
    justify-content: space-between;
}
/* Columna Izquierda del Encriptador */
.columna-izquierda{
    margin-bottom: 80px;
    padding-bottom: 50px;
    border-radius: 20px;
    border: 2px solid var(--color-terciario);
    background-color: rgba(255, 255, 255, 0.8); /* Color #ffffff con 80% de opacidad */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); 
    
}
.alert-img{
    width: 4%;
    padding-bottom: 2px;
    text-align: center;
}
#my-textarea{
    height: 500px;
    text-decoration: none;
    color: var(--color-secundario);
    background-color: rgba(255, 255, 255, 0); /* Color #ffffff con 80% de opacidad */
}
.textarea-container {
    max-width: 600px;
    margin: 20px auto;
}
.custom-textarea::placeholder {
    color: var(--color-secundario);
}
.custom-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    padding-top: 20px;
    color: var(--color-secundario);
    font-family: var(--fuente);
    font-size: 32px;
    border: none;
}
.custom-textarea:focus {
    outline: none;
}
#encrypt-btn{
    background-color: var(--color-secundario);
    color: var(--color-primario);
    width: 45%;
    height: 10%;
    border-radius: 15px;
    border: none;
    margin-right: 5px;
}
#decrypt-btn{
    color: var(--color-secundario);
    width: 45%;
    height: 10%;
    border-radius: 15px;
    border: 1.5px solid #0A3871;
    margin-left: 5px;
}
#copy-btn{
    color: var(--color-secundario);
    width: 70%;
    height: 10%;
    border-radius: 15px;
    border: 1.5px solid #0A3871;
    margin-left: 5px;
}
#encrypt-btn:focus {
    outline: none; /* Elimina el borde negro al hacer clic */
  }
#decrypt-btn:focus {
    outline: none; 
  }
  #copy-btn:focus {
    outline: none; 
  }
/* Columna Derecha del Encriptador */
.columna-derecha{
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-radius: 20px;
    border: 2px solid var(--color-terciario);
    background-color: rgba(255, 255, 255, 0.8); /* Color #ffffff con 80% de opacidad */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); 
    height: 680px;
}
.img-fluid{
    align-items: center;
    margin-top: 90px;
}
.h2-column{
    text-align: center;
}
#result{
    padding-left: 10px;
    padding-top: 20px;
}
/* Footer de la página */
footer {
    width: 100%;
    text-align: center;
    font-family: var(--fuente);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
footer a{
    cursor: pointer;
    text-decoration: none;
}
footer p {
    color: var(--color-primario);
    height: 50px;
    padding-top: 12px;
    font-size: 15px;
    font-weight: 400px;
    margin: 0;
}
/* Responsividad de @mediaquerys */
@media (max-width: 1980px) {
    .header .imagen-header{
        padding: 0%; 
        width: 3.5%;
        }
    .header .imagen-header-modo{
        padding: 0%; 
        width: 2.5%;
        }
    }

@media (max-width: 1280px) {
    .header .imagen-header{
            padding: 0%; 
            width: 4.5%;
            }
   .header .imagen-header-modo{
            padding: 0%; 
            width: 3.5%;
            }
        }
@media (max-width: 768px) {
   .header .imagen-header{
    padding-bottom: 3%; 
    padding-top: 1%;
     width: 7%;
     }
   .header .imagen-header-modo{
     padding-bottom: 3%; 
     padding-top: 1%;
     width: 6%;
     }
}
@media (max-width: 575px) {
    .row{
     padding: 25px;
    }
    .custom-textarea{
     font-size: 25px;
    }
    .h2-column{
     font-size: 30px;
    }
    .row .p{
     font-size: 18px;
    }
    .header .imagen-header{
       padding-bottom: 3%; 
       padding-top: 1%;
        width: 10%;
        }
    .header .imagen-header-modo{
        padding-bottom: 3%; 
        padding-top: 1%;
        width: 8%;
        }
   }
@media (max-width: 375px) {
    .header .imagen-header{
       padding-bottom: 3%; 
       padding-top: 1%;
        width: 13%;
        }
    .header .imagen-header-modo{
        padding-bottom: 3%; 
        padding-top: 1%;
        width: 12%;
        }
   }  